<h1><%= @student.to_s %></h1>
<p><% if @student.active == false %>
 <%= "This student is currently inactive." %>
 <% else @student.active == true %>
 <%= "This student is currently active." %>
<% end %>

   